<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="vdeProduct"
         name="Voclipse"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Vogella Development Tools">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Vogella Development Tools">
         </property>
         <property
               name="aboutImage"
               value="icons/vogella.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <!--
         <property
               name="windowImages"
               value="eclipse.png,eclipse32.png,eclipse48.png">
         </property>
         -->
         <property
          		name="introBrandingImage"
          		value="product:splash.png"/>
         <property
               name="introTitle"
               value="Welcome to the Voclipse">
         </property>
         <property
               name="introBrandingImageText"
               value="Voclipse Project">
         </property>
         <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
         <!--
         <property 
               name="cssTheme"
               value="com.vogella.voclipse.theme.theme1">
         </property>
         -->
         <property
               name="applicationCSSResources" 
               value="platform:/plugin/org.eclipse.platform/images/"> 
         </property>
         <property
               name="windowImages"
               value="icons/png/16x16.png,icons/png/32x32.png,icons/png/48x48.png,icons/png/64x64.png,icons/png/128x128.png">
         </property>
         <property
               name="aboutText"
               value="voclipse is a product of the vogella GmbH. It is based on the Eclipse SDK and adds a few more customization laers on top of it.&#x0A;See http://www.voclipse.com&#x0A;&#x0A;(c) Copyright Eclipse contributors and others 2000, 2013.  All rights reserved.&#x0A;Visit http://www.eclipse.org/platform&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://www.apache.org/">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.vogella.vde.vdeProduct">
      </introProductBinding>
   </extension>
   <extension point="org.eclipse.ui.intro.configExtension">
 	<configExtension
		configId="org.eclipse.ui.intro.universalConfig"
		content="intro/vogella-webresources.xml" />
	</extension>

   
</plugin>
